body{
  background-color: #c5dac8; 
  /* background: 
    linear-gradient(135deg, #ECEDDC 30%, transparent 25%) -50px 0,
    linear-gradient(225deg, #ECEDDC 30%, transparent 25%) -50px 0,
    linear-gradient(315deg, #ECEDDC 30%, transparent 25%),
    linear-gradient(45deg, #ECEDDC 30%, transparent 25%);	
  background-size: 100px 100px;
  background-color: #fff; */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
